<div class="contenedor_componente">
        <h1 class="titulo">  QUIENES SOMOS</h1>
        <p class="parrafo_principal">Somos un equipo de profesionales con basta experiencia en la formación amateur y entrenamiento deportivo orientados de manera principal
            en el baloncesto, atendemos la formación y el acondicionamiento fisico, por tanto si tu deseo es aprender y fundamentarte en este 
          deporte estas en el lugar indicado o si deseas mejorar tu salud y tu apariencia fisica este también es el lugar</p>    
    <div class="contenedor_tarjetas">
    <div class="card" routerLink="/contacto">
        <div class="card-body">
            <h1 class="h5 card-title">ENTRENADORES PROFESIONALES <a routerLink="/contacto">Ver más</a></h1>
            <h2 class="h6 card-subtitle">FUNDAMENTACION</h2>
            <img src="assets/imagenes/baloncesto1.jpg" class="img-fluid">
            <p class="card-text">Fundamenta de la manera correcta, y conviertete en el deportista que sueñas</p>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h1 class="h5 card-title">ENTRENADORES PROFESIONALES <a routerLink="/contacto">Ver más</a></h1>
            <h2 class="h6 card-subtitle">FORMACION</h2>
            <img src="assets/imagenes/baloncesto1.jpg" class="img-fluid">
            <p class="card-text">A traves de rutinas, se crearán habitos que mejoraran tu técnica</p>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h1 class="h5 card-title">ENTRENADORES PROFESIONALES <a routerLink="/contacto">Ver más</a></h1>
            <h2 class="h6 card-subtitle">FORMACION</h2>
            <img src="assets/imagenes/baloncesto1.jpg" class="img-fluid">
            <p class="card-text">A traves de rutinas, se crearán habitos que mejoraran tu técnica</p>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h1 class="h5 card-title">ENTRENAMIENTOS PERSONALIZADOS <a routerLink="/contacto">Ver más</a></h1>
            <h2 class="h6 card-subtitle">FORMACION</h2>
            <img src="assets/imagenes/baloncesto1.jpg" class="img-fluid">
            <p class="card-text">A traves de rutinas, se crearán habitos que mejoraran tu técnica</p>

        </div>
    </div>

</div>
</div>